/* DIV WRAPPERS */
.item-wrap{
    /*background-color:rgb(187, 149, 99);*/
    background-image:url("img/ricepaper.png");
    border: 2px solid rgba(40,31,22);
    border-radius: 10px;
    flex-wrap:wrap;
    margin: 5px 10px;
    align-content: justify;
    align-items: center;
    align-self: flex-start;
    padding: 10px 15px;
   -webkit-box-shadow: 10px 8px 2px 0px rgba(40,31,22,0.55); 
    box-shadow: 10px 8px 2px 0px rgba(40,31,22,0.55);
            }

 .my-wrapper{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:auto;

}

.tooltip .tooltiptext {
  top: -5px;
  right: 105%;
}

/* COLUMNS */

#leftcol{
    top:0;
    text-align: left;
    flex-shrink: 2;
    max-width: 250px;
    height:100%;
}

@media screen and (max-width: 500px) {
 #right {
   max-width: 15vw;
    max-height:15vw;
 }
}

@media screen and (max-width: 250px){
    #leftcol {
        max-width: 45vw;
    }
}

#centercol{
    max-width: 600px;
    flex-shrink: 2;
     }

@media screen and (max-width: 500px) {
 #centercol {
   max-width: 90vw;
 }
}

#rightcol{
    text-align:center;
    top: 0;
    max-width: 250px;
    flex-shrink: 2;
}
#verity-img{
    width:150px;
    max-width:250px;
    flex-shrink:1;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header{
    font-family: Lobster, serif;
    text-shadow: 2px 2px #C6468A;
    color:#18093E;
    padding: 15px 2px 2px 2px;
    font-size: 4em;
    max-width: 400px;
    margin: auto;
}



nav{
    margin: auto;
    text-align: center;
    padding: 10px;
}

h1{
    font-family: Arvo;
    text-decoration: underline;
    text-align: center;
    font-size: 1.5em;
    background-color:#ccb597;
}

h2{
    font-family: Arvo;
    text-decoration: underline;
    text-align: center;
    font-size: 1.2em;
    background-color:#ccb597;
}

body{
    margin: auto;
    background-image: url("img/herringbone.png");

}


p{
    font-family: Nunito;
    font-size: 1em;
}

a{
    color:#ac4767;
    text-decoration: none;
}

a:hover{
    color:#4a4e86;
    text-decoration: underline;
    transform: scale(2px); 
    text-shadow: 0 0 5px #647AD1;
}



footer{
   /* background-color:rgb(187, 149, 99);*/
    font-size: .80em;
   left: 0;
   bottom: 0;
   width: 100%;
   color:darkblue;
   text-align: center;
    background-color:none;
}

ul{
    font-family: Nunito;
}

.facts-list{
    padding: 0px 0px;
    margin-top: 0px;
    list-style-type: square;
}

li{
list-style-type: none;
}

.navbar{   
    font-family: Nunito, sans-serif;
    display: inline;
    padding:8px;
    max-width:400px;
    margin: 0;
    padding: 0;
  
}

.navlink{
    font-family: Arvo, serif;
    font-weight: bolder;
    font-size: .9em;
    padding: 5px 5px; 
    list-style-type: none;
    float: 
    
}

.navlink:hover{
    background-color:#fac0d3;
}

#statuscafe {
    font-family: Nunito, sans-serif;
    text-align: center;
    padding: .5em;
    border-radius:5px;
    border: 1px dotted midnightblue;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/*.rightcollinks{
    font-family: Nunito;
    margin:auto;
    text-align: justify;
}*/

.scrollable {
    height: 125px; /* or any value */
    overflow-y: auto;
}

@media (max-width: 450px){
  (max-width: 450px) {
}