:root {
    --darkbg: #2A2A47;
    --darktext: #DBFDEF;
    --darklink: #E3ACAE;
    --darkraised-bg: #444473;
    --highlight: #3ed395;
    --darkvisited: #d85e60;
}

body{
    font-family: monospace;
    margin: auto;
    max-width:75%;
    background-color: var(--darkbg);
    color: var(--darktext);
    list-style-type: "✦ "
}

a{
    color: var(--darklink);
}

a:hover{
    color:var(--highlight);
}

.guestbooks___guestbook-form-container{
    background-color: var(--highlight);
}

.navbar{
    margin:auto;
}

.navbar-menu-item{
    list-style-type: none;
    display:inline-block;
}

img{
    max-width:45%;
}

footer{
    margin:auto;
    text-align:center;
}
