:root {
	--main-text-color: #000000;
	--main-bg-color: #2f7ad1;
	--main-transparent: rgba(0, 0, 0, .15);
	--main-small-text-color: rgba(0, 0, 0, .65);
	--main-big-text-color: #3c445f;
}

body {
	line-height: 1.6;
	font-size: 18px;
	font-family: sans-serif;
	background: var(--main-bg-color);
	color: var(--main-text-color);
	padding-left: calc(100vw - 100%);
}
h1 {
	margin-block-start: 0.67rem;
	margin-block-end: 0.67rem;
	font-size: 2.00rem;
	font-weight: bold;
	color: var(--main-big-text-color);
}
article h1:first-of-type {
	margin-block-start: 1.67rem;
	color: var(--main-big-text-color);
}
h2 {
	margin-block-start: 0.83rem;
	margin-block-end: 0.83rem;
	font-size: 1.50rem;
	font-weight: bold;
	color: var(--main-big-text-color);
}
h3 {
	margin-block-start: 1rem;
	margin-block-end: 1rem;
	font-size: 1.17em;
	font-weight: bold;
	color: var(--main-big-text-color);
}
h4 {
	margin-block-start: 1.33rem;
	margin-block-end: 1.33rem;
	font-size: 1.00rem;
	font-weight: bold;
}
article h4:first-of-type {
	margin-block-start: 0rem;
}
h5 {
	margin-block-start: 1.67rem;
	margin-block-end: 1.67rem;
	font-size: 0.83rem;
	font-weight: bold;
}
h6 {
	margin-block-start: 2.33rem;
	margin-block-end: 2.33rem;
	font-size: 0.67rem;
	font-weight: bold;
}
a {
	color: var(--main-text-color);
}
a:hover {
	background: var(--main-transparent);
}
img {
	width: 100%;
	height: auto;
}
blockquote {
	color: var(--main-small-text-color);
	border-left: 3px solid var(--main-transparent);
	padding: 0 1rem;
	margin-left: 0;
	margin-right: 0;
}
hr {
	border: none;
	height: 1px;
	background: var(--main-small-text-color);
}
code {
	background: var(--main-transparent);
	border-radius: .1875rem;
	padding: .0625rem .1875rem;
	margin: 0 .1875rem;
}
#header ul {
	list-style-type: none;
	padding-left: 0;
}
#header li {
	display: inline;
	font-size: 1.2rem;
	margin-right: 1.2rem;
}
#container {
	margin: 2.5rem auto;
	width: 90%;
	max-width: 60ch;
	background: white;
	padding: 0.5rem 2.5rem;
	outline-color: #CCC;
	outline-style: ridge;
	outline-width: 4px;
	outline-offset: 0;
}
#postlistdiv ul {
	list-style-type: none;
	padding-left: 0;
}
.moreposts {
	font-size: .95rem;
	padding-left: 0.5rem;
}
#nextprev {
	text-align: center;
	margin-top: 1.4rem;
	font-size: .95rem;
}
#footer {
	color: var(--main-small-text-color);
}
